@import '../../marketplace.css';

.root {
}

.input {
  border-bottom-color: var(--attentionColor);
}

.inputSuccess {
  border-bottom-color: var(--attentionColorBottom);
  border-bottom-width: 3px;
}

.inputError {
  border-bottom-color: var(--failColor);
}

.textarea {
}
